<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminStore">


	<resultMap type="store" id="storeMap">
		<id column="s_id" property="sid"></id>
		<result column="s_name" property="sname"/>
		<result column="s_add" property="sadd"/>
		<result column="s_add2" property="sadd2"/>
		<result column="s_tel" property="stel"/>
		<result column="st_deli_service" property="stdeliservice"/>
		<result column="st_open_time" property="stopentime"/>
		<result column="st_close_time" property="stclosetime"/>
		<result column="st_mile_service" property="stmileservice"/>
		<result column="st_app_stat" property="stappstat"/>
		
	
	</resultMap>


	<select id="getStoreList" resultMap="storeMap">
		SELECT 
		s_id
		, s_name
		, s_add
		, s_add3
		, s_tel
		, st_deli_service
		, st_open_time
		, st_close_time
		, st_mile_service
		FROM store
		WHERE st_app_stat= 'Y'
  		ORDER BY s_id
	</select>
	
	<select id="getStorePermissionList" resultMap="storeMap">
	SELECT 
		s_id
		, s_name
		, s_add
		, s_add3
		, s_tel
		, st_deli_service
		, st_open_time
		, st_close_time
		, st_mile_service
		FROM store
		WHERE st_app_stat= 'N'
  		ORDER BY s_id
	</select>
	
	<update id="updatePermission" parameterType="store">
	 UPDATE store SET 
	 ST_APP_STAT = 'Y'
   	 WHERE s_id= #{sid}
	
	</update>
	
	
	

</mapper>