<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerOrderDAO">

	<select id="getOrderlist" parameterType="order" resultType="order">
	
		SELECT O.O_NUM
		      , O.C_ID
		      , O.O_DATE
		      , O.TOTAL
		      , O.RECEIPT
		      , O.S_ID
		      , S.S_NAME
		      , O.PAY_METHOD
		FROM ORDERS O JOIN STORE S
		ON O.S_ID = S.S_ID
		WHERE O.C_ID= #{cId}
		ORDER BY O.O_DATE DESC
	
	
	</select>


	<select id="getordernumber" parameterType="string" resultType="string">
		SELECT 'OR'||TO_CHAR(SYSDATE,'yymmdd')||LPAD(NVL(MAX(SUBSTR(O_NUM,9)),0)+1,4,0)
		FROM ORDERS
		WHERE S_ID = #{sId}
		      AND O_NUM LIKE '%'||TO_CHAR(SYSDATE,'yymmdd')||'%'
	
	</select>
	
	<insert id="insertorder">
	
		INSERT INTO ORDERS (	O_NUM
								, C_ID
								, O_DATE
								, TOTAL
								, RECEIPT
								, S_ID
								, PAY_METHOD
								, MILEAGE
								, C_ADD
								, C_ADD3
							)
		VALUES (
				#{oNum}
				, #{cId}
				, systimestamp
				, #{total}
				, #{receipt}
				, #{sId}
				, #{payMethod}
				, #{mileage}
				, #{cAdd}
				, #{cAdd3}
				)
	
	</insert>



</mapper>