<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerOrderDAO">

	<select id="getOrderlist" parameterType="order" resultType="order">
	
		SELECT O.O_NUM
		      , O.C_ID
		      , O.O_DATE
		      , O.TOTAL
		      , O.RECEIPT
		      , O.S_ID
		      , S.S_NAME
		      , O.PAY_METHOD
		FROM ORDERS O JOIN STORE S
		ON O.S_ID = S.S_ID
		WHERE O.C_ID= #{cId}
		ORDER BY O.O_DATE DESC
	
	
	</select>




</mapper>