<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customerLoginDAO">

	<select id = "getCustomer" resultType="customer">
		SELECT  C_ID
			   ,C_PW
			   ,C_JOIN
		FROM CUSTOMER
		WHERE C_ID = #{cId} AND C_PW = #{cPw}
	</select>

	<select id = "getCustomerList" resultType="customer">
		SELECT  C_ID
			   ,C_PW
			   ,C_JOIN
		FROM CUSTOMER
	</select>
	<!-- 
	KAKAO로 로그인 시 DB에 정보가 없으면 insert
	<insert id = "insertCustomerKakao">
		INSERT INTO CUSTOMER ( C_ID
							  ,C_NAME
							  ,DOB
							  ,C_JOIN )
		VALUES ( #{cId}
				,#{cName}
				,#{dob}
				'kakao'
		)
	</insert>
	
	NAVER로 로그인 시 DB에 정보가 없으면 insert
	<insert id = "insertCustomerNaver">
		INSERT INTO CUSTOMER ( C_ID
							  ,C_JOIN )
		VALUES ( #{id}
				'naver'
		)
	</insert>
	 -->
</mapper>