<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerJoinDAO">
	<insert id="insertJoin" parameterType="customer" >
	INSERT INTO CUSTOMER 
		(C_ID, 
		C_NICK, 
		C_TEL, 
		C_NAME, 
		C_PW, 
		C_ADD,
		C_ADD2,
		C_ADD3, 
		DOB,
		EMAIL)
	VALUES 
		(#{cId},
		 #{cNick}, 
		 #{cTel}, 
		 #{cName}, 
		 #{cPw}, 
		 #{cAdd},
		 #{cAdd2},
		 #{cAdd3}, 
		 #{dob},
		 #{email}) 
	</insert> 
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) 
		FROM CUSTOMER
		WHERE C_ID= #{cId}
	</select>
	
	
	<insert id="authKey" parameterType="customer">
		INSERT INTO AUTH (AUTHNUM) VALUES (#{authNum})
	</insert>
	
	<select id="authkeyCheck" resultType="int">
		SELECT COUNT(*)
		FROM AUTH
		WHERE AUTHNUM= #{authNum}
	</select>
</mapper>