<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoremenuDAO">

 
	<resultMap type="store" id="storeMap">
		<id column="S_ID" property="sid"></id>
		<result column="s_pw" property="spw"/>
		<result column="s_name" property="sname"/>
		<result column="s_add" property="sadd"/>
		<result column="s_tel" property="stel"/>
		<result column="st_deli_service" property="stdeliservice"/>
		<result column="st_open_time" property="stopentime"/>
		<result column="st_close_time" property="stclosetime"/>
		<result column="st_app_stat" property="stappstat"/>
		<result column="st_mile_service" property="stmileservice"/>
		<result column="opencheck" property="opencheck"/>
		<result column="rank" property="rank"/>
	</resultMap> 

	<select id="getStoreList" resultType="store" resultMap="storeMap">
		SELECT S_ID
				, S_NAME
				, S_ADD 
				, S_TEL
				, ST_DELI_SERVICE
				, ( SELECT 
		                CASE 
		                    WHEN TO_CHAR(SYSDATE,'yy/mm/dd HH24:MI') BETWEEN OPENTIME AND NVL(CLOSETIME,TO_CHAR(SYSDATE,'yy/mm/dd')||' 23:59') THEN '1'
		                ELSE '0'
		                END
		            FROM STOREOPEN 
		            WHERE TO_CHAR(OPENTIME,'yy/mm/dd') = TO_CHAR(SYSDATE,'yy/mm/dd')
		                AND S_ID = STORE.S_ID
		          ) "OPENCHECK"
		FROM STORE
		WHERE ST_APP_STAT = 'Y'
			AND TO_CHAR(SYSDATE,'HH24:MI') BETWEEN ST_OPEN_TIME AND ST_CLOSE_TIME
		<if test="sadd != null and sadd !='' ">
			AND S_ADD like #{sadd} || '%'
		</if>
		ORDER BY S_NAME DESC
	</select>
	
	<select id="gettopstorelist" resultMap="storeMap">
	
		SELECT
			RANK() OVER ( ORDER BY COUNT(O.O_NUM) DESC) RANK,
			S.S_NAME
	      , S.S_ID
	      , S.ST_DELI_SERVICE
	      , ( SELECT 
	                CASE 
	                    WHEN TO_CHAR(SYSDATE,'yy/mm/dd HH24:MI') BETWEEN OPENTIME AND NVL(CLOSETIME,TO_CHAR(SYSDATE,'yy/mm/dd')||' 23:59') THEN '1'
	                ELSE '0'
	                END
	            FROM STOREOPEN 
	            WHERE TO_CHAR(OPENTIME,'yy/mm/dd') = TO_CHAR(SYSDATE,'yy/mm/dd')
	                AND S_ID = S.S_ID
	          ) "OPENCHECK"
			FROM 
				ORDERS O JOIN ORDER_DETAILS ORD
				ON O.O_NUM = ORD.O_NUM
				JOIN STORE S
				ON O.S_ID = S.S_ID
			WHERE O.C_ID = #{cId}
			GROUP BY S.S_NAME , S.S_ID , S.ST_DELI_SERVICE
	
	</select>
	
	<select id="getSearchStore" resultType="store" resultMap="storeMap">
		SELECT S_ID
				,S_NAME
				,S_ADD
				,S_TEL
				,ST_DELI_SERVICE
				,ST_OPEN_TIME
				,ST_CLOSE_TIME
				, ST_MILE_SERVICE
		FROM STORE
		WHERE S_ID = #{sid}
	
	</select>

	<resultMap type="menu" id="menuMap">
		<id column="M_NUM" property="mNum"></id>
		<result column="m_name" property="mName"/>
		<result column="ca_num" property="caNum"/>
		<result column="m_price" property="mPrice"/>
		<result column="m_stat" property="mStat"/>
		<result column="s_id" property="sId"/>
		<result column="menusale" property="menuSale"/>
		<result column="UPLOADFILE" property="uploadFileName" />
	</resultMap>
	
	<select id="getMenuList" parameterType="menu" resultType="menu" resultMap="menuMap">
		SELECT M_NUM
				, M_NAME
				, M_PRICE
				, CA_NUM
				, M_STAT
				, MENUSALE
				, UPLOADFILE
		FROM MENU
		WHERE S_ID = #{sId}
				AND MENUSALE = 'Y'
		ORDER BY CA_NUM
	</select>
	
	<select id="getReserve" resultType="reserve">
		SELECT MILEAGE, S_ID, C_ID
			FROM RESERVE
			WHERE C_ID = #{cId}
			      AND S_ID = #{sId}
	
	</select>
	
	<select id="getmenuoptionlist" parameterType="recipe" resultType="recipe" >
		SELECT 	M_NUM
				, OP_NAME
				, ST_NUM
				,OP_PRICE
				, CA_NUM
		FROM RECIPE
		WHERE M_NUM=#{mNum} 
				AND CA_NUM IN ('CAOP','CAIC','CAHT') 
				AND S_ID= #{sId}
	</select>
	
	<select id="getmenudetail" parameterType="menu" resultType="menu" >
		SELECT M_NUM
		      , M_NAME
		      , M_PRICE
		      , S_ID
		      , CA_NUM
		      , M_STAT
		      , MENUSALE
		      , UPLOADFILE
		FROM MENU
		WHERE M_NUM= #{mNum}
		      AND S_ID= #{sId}
	
	</select>
	
	<select id="getstoredeliverservice" parameterType="string" resultType="int">
	
		SELECT count(*)
		FROM STORE
		WHERE S_ID= #{sId}
   			 AND TO_CHAR(SYSDATE,'HH24') BETWEEN SUBSTR(ST_OPEN_TIME,1,2)+1 
   			 								AND SUBSTR(ST_CLOSE_TIME,1,2)-2
	
	</select>
	
	<select id="getstoremileageservice" parameterType="string" resultType="string">
		SELECT ST_MILE_SERVICE
		FROM STORE
		WHERE S_ID=#{sId}
	</select>

</mapper>