<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MenuDAO">
<resultMap type="menu" id="menuMap">
      <id column="M_NUM" property="mNum"></id>
      <result column="m_name" property="mName"/>
      <result column="ca_num" property="caNum"/>
      <result column="m_price" property="mPrice"/>
      <result column="m_stat" property="mStat"/>
      <result column="s_id" property="sId"/>
      <result column="menusale" property="menuSale"/>
      <result column="UPLOADFILE" property="uploadFileName"/>
      <result column="CA_NUM_NM" property="ca_num_nm"/>
      <result column="M_STAT_NM" property="m_stat_nm"/>
      
      
   </resultMap>
	<select id="getMenuList" resultMap="menuMap" parameterType="menu">
		select
		M_NUM
		,M_NAME
		,M_PRICE
		,S_ID
		,CA_NUM
		,(select CA_TYPE from CATEGORY where ca_num = menu.ca_num) CA_NUM_NM
		,M_STAT
		,FIND_CODENM(M_STAT) M_STAT_NM
		,MENUSALE
		,UPLOADFILE
		from menu
 		order by m_num
	</select>
	
	<update id = "updateMenu" parameterType="menu">
	UPDATE MENU SET 
		M_NAME = #{mName}
		, M_PRICE = #{mPrice}
		<!-- ,CA_NUM= #{caNum}  -->
		, M_STAT = #{mStat}
		, MENUSALE = #{menuSale}
		WHERE M_NUM = #{mNum}  and S_ID=#{sId}
	
	
	</update>
	
	<update id="updateFile" parameterType="menu">
		UPDATE MENU SET UPLOADFILE = #{uploadFileName} WHERE m_num = #{mNum}
	</update>
	
		<insert id="insertMenuProc1" parameterType="menu" statementType="CALLABLE">
			{
				call MENU_HITICE_INSERT(
					#{mName, mode=IN,jdbcType=VARCHAR, javaType=string},
					#{mPrice, mode=IN, jdbcType=NUMERIC, javaType=java.lang.Integer},
					#{sId, mode=IN, jdbcType=VARCHAR, javaType=string},
					#{caNum, mode=IN, jdbcType=VARCHAR, javaType=string}
					
				)
			}					
	
	</insert>
	
 	<insert id="insertMenu" parameterType="menu">
		INSERT INTO MENU (M_NUM
					, M_NAME
					, M_PRICE
				 	, S_ID 
					, CA_NUM
					, M_STAT
					, MENUSALE
					<if test="uploadFileName != null and uploadFileName != ''">
					,UPLOADFILE
					</if>
					) 
			VALUES (	'ME'||lpad(MENU_SEQ.nextval,3,0)
					, #{mName}
					, #{mPrice}
				    , #{sId}  	
					, #{caNum}
					, 'A2'
					, 'N'
					<if test="uploadFileName != null and uploadFileName != ''">
					, #{uploadFileName}
					</if>
					)
					
	
	</insert> 
	<delete id = "deleteMenu" parameterType="menu">
		DELETE FROM MENU 
			WHERE M_NUM = #{mNum}
	</delete>
</mapper>