<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MymenuDAO">
<!-- 고객 나만의 메뉴 조회 -->
<select id="getMymenu" resultType="viewmymenu">
SELECT
	S_NAME "sName"
	, M_NAME "mName"
	, M_PRICE "mPrice"
	, C_ID "cId"
	, CU_NUM "cuNum"
	, CA_NUM "caNum"
	, UPLOADFILE "uploadFileName"
FROM MYMENU_VIEW
WHERE C_ID=#{cId} 
AND OP_NAME IS NULL
<if test="sort == null or sort == '' ">
ORDER BY CU_NUM
</if>
<if test="sort != null and sort != '' ">
ORDER By ${sort}
</if>
</select>
<select id="getMymenuDetail" resultType="viewmymenu">
SELECT
	S_NAME "sName"
	, M_NAME "mName"
	, M_PRICE "mPrice"
	, OP_NAME "opName"
	, OP_PRICE "opPrice"
	, C_ID "cId"
	, M_NUM "mNum"
	, CU_NUM "cuNum"
	, CA_NUM "caNum"
FROM MYMENU_VIEW
WHERE CU_NUM=#{cuNum}
AND CA_NUM IN ('CAOP','CAIC','CAHT')
</select>
<delete id="deleteMymenu" parameterType="mymenu">
DELETE MY_MENU 
<where>
	<choose>
		<when test="cuNumList != null and cuNumList.length>0 ">
			CU_NUM in
				<foreach collection="cuNumList" open="(" close=")"
					separator="," item="item">
					#{item}
				</foreach>
		</when>
		<otherwise>
			CU_NUM = #{cuNum}
		</otherwise>
	</choose>
</where>  
</delete>

	
	<!-- 커스텀 번호 +1해서 가져오기 -->
	<select id="getcunum" resultType="string">
		SELECT 'CU'||LPAD(MAX(NVL(SUBSTR(CU_NUM,3),0))+1,5,'0')
		FROM MY_MENU
	</select>
	
	<!-- Recipe 번호 가져오기 -->
	<select id="getrecipelist" parameterType="mymenu" resultType="mymenu">
		SELECT RECIPENO
				, CA_NUM
				, S_ID
				, M_NUM
				, ST_NUM
		FROM RECIPE
		WHERE M_NUM = #{mNum}
      			AND S_ID = #{sId}
      			<!-- AND CA_NUM = #{caNum} -->
	</select>
	
	<insert id="insertmymenu" parameterType="mymenu">
		<selectKey keyProperty="myNum" resultType="int" order="BEFORE">
			SELECT NVL(MAX(NVL(MY_NUM,0)),0)+1
			FROM MY_MENU
		</selectKey>
		
			INSERT INTO MY_MENU ( MY_NUM
								, C_ID
								, M_NUM
								, CU_NUM
								, RECIPENO
								, CA_NUM
								)
			VALUES( #{myNum}
					, #{cId}
					, #{mNum}
					, #{cuNum}
					, #{recipeno}
					, #{caNum}
			)
	
	</insert>


</mapper>