<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MymenuDAO">
<!-- 고객 나만의 메뉴 조회 -->

<select id="getMymenu" resultType="viewmymenu">
SELECT
	  C_ID "cId"
	, S_NAME "sName"
	, M_NAME "mName"
	, M_PRICE "mPrice"
	, CA_NUM "caNum"
	, CU_NUM "cuNum"
	, OP_NUM "opNum"
FROM MYMENU_VIEW
WHERE C_ID=#{cId}
</select>
<delete id="deleteMymenu" parameterType="mymenu">
DELETE MY_MENU 
<where>
	<choose>
		<when test="cuNumList != null and cuNumList.length>0 ">
			CU_NUM in
				<foreach collection="cuNumList" open="(" close=")"
					separator="," item="item">
					#{item}
				</foreach>
		</when>
		<otherwise>
			CU_NUM = #{cuNum}
		</otherwise>
	</choose>
</where>  
</delete>
<update id="updatemymenu">
UPDATE MY_MENU
<set>
<if test="title != null and title != ''">TITLE = #{title} ,</if>
			<if test="content != null and content != ''">CONTENT = #{content} ,</if>
			<if test="writer != null and writer != ''">WRITER = #{writer} ,</if>
			<if test="cnt != 0">CNT = CNT + 1 </if>
</set>
	WHERE CU_NUM = #{cuNum}
</update>
</mapper>