<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PosDAO">



	<!-- 매장 pos기 메뉴조회 -->
	<select id="getStoreMenuList" resultType="menu">
		SELECT DISTINCT 
		M_NAME "mName"
		,M_NUM "mNum"
		, M_PRICE "mPrice"
		,CA_NUM "caNum"
		 FROM MENU
		 WHERE S_ID= #{sId} AND MENUSALE != 'N'
	</select> 
	<!-- 메뉴선택시 옵션 가져오기 -->
	<select id="getOptionList" resultType="recipe">
		SELECT
		M_NUM "mNum"
		, OP_NAME "opName"
		, OP_PRICE "opPrice"
		, RECIPENO "recipeno"
		, CA_NUM "caNum"
		FROM RECIPE
		WHERE S_ID= #{sId}
		AND M_NUM = #{mNum}
		AND( CA_NUM = 'CAOP'
		OR CA_NUM = 'CAIC'
		OR CA_NUM = 'CAHT')
		ORDER BY OP_NAME
	</select>
	<!-- 고객 검색 -->
	<select id="getCusList" resultType="viewposcussearch">
	SELECT 
			C_ID "cId"
			, C_NICK "cNick"
			, C_TEL "cTel"
			, C_NAME "cName"
			, MILEAGE "mileage"
			, S_ID "sId"
	FROM POSCUSSEARCH_VIEW
	WHERE 
	S_ID= #{sId}
	AND (C_TEL like '%' || #{cTel} || '%'
	OR C_NAME like '%' || #{cTel} || '%')
	</select>
<!-- 환불위한 주문내역 조회 -->
	<select id="getCusRefund" resultType="order">
	SELECT
			O_NUM "oNum"
		   , C_ID "cId"
		   , O_DATE "oDate"
		   , TOTAL "total"
		   , PAY_METHOD "payMethod"
		   , MILEAGE "mileage"
		   , (select to_char(o_date,'yyyy-MM-dd HH:mm:ss') ||'('|| o_num ||')' from orders corder where orders.o_num =corder.refuse_reason)  "refuseReason"
		   
	FROM ORDERS
	<where>
	S_ID=#{sId}
	<if test="startDate != null and startDate !='' and endDate !=null and startDate !=''">
			AND	 TRUNC(O_DATE) BETWEEN #{startDate} AND #{endDate}
			</if>	
	AND DELIVERY_STATUS IN ('C5')
	</where>
	</select> 
<!-- 환불 주문건 상세내역 -->
	<select id="getOrDetails" resultType="co.yedam.cafein.viewvo.ViewPosOrdetailsVO">
	SELECT 
			O_NUM "oNum"
			, O_DNUM "oDnum"
			, OP_DNUM "opDnum"
			, OP_NAME "opName"
			, CA_NUM "caNum"
			, M_NAME "mName"
			, O_QTY "oQty"
			, C_NAME "cName"
			, MILEAGE "mileage"
			, TOTAL "total"
	FROM ORDETAILS_VIEW
	WHERE O_NUM= #{oNum}
	AND CA_NUM IN ('CAOP','CAHT','CAIC','CADR','CADE','CAJP')
	</select>
	
	<!-- 환불하기 -->
	<insert id="refoundcall" statementType="CALLABLE" parameterType="order">
	{ 	
		call POSREPOUND_PRO(
		#{oNum, mode=IN, jdbcType=VARCHAR, javaType=string}
		)
	}
	
	</insert>
</mapper>