<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PosDAO">



	<!-- 매장 pos기 메뉴조회 -->
	<select id="getStoreMenuList" resultType="viewpos">
		SELECT DISTINCT
		S_ID "sId"
		, RECIPENO "recipeno"
		, M_NAME "mName"
		, M_NUM "mNum"
		, CA_NUM "caNum"
		, OP_NAME "opName"
		, OP_PRICE "opPrice"
		, M_PRICE "mPrice"
		FROM POSSEL_VIEW
		group by S_ID
		, RECIPENO
		, M_NAME
		, M_NUM
		, CA_NUM
		, OP_NAME
		, OP_PRICE
		, M_PRICE
	</select>
	<!-- 메뉴선택시 옵션 가져오기 -->
	<select id="getOptionList" resultType="recipe">
		SELECT
		M_NUM "mNum"
		, OP_NAME "opName"
		, OP_PRICE "opPrice"
		, RECIPENO "recipeno"
		FROM RECIPE
		WHERE S_ID= #{sId}
		AND M_NUM = #{mNum}
		AND( CA_NUM = 'CAOP'
		OR CA_NUM = 'CAIC'
		OR CA_NUM = 'CAHT')
		ORDER BY OP_NAME
	</select>
	<!-- 고객 검색 -->
	<select id="getCusList" resultType="viewposcussearch">
	SELECT 
			C_ID "cId"
			, C_NICK "cNick"
			, C_TEL "cTel"
			, C_NAME "cName"
			, MILEAGE "mileage"
			, S_ID "sId"
	FROM POSCUSSEARCH_VIEW
	WHERE 
	S_ID= #{sId}
	AND (C_TEL like '%' || #{cTel} || '%'
	OR C_NAME like '%' || #{cTel} || '%')
	</select>

</mapper>