<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RecipeDAO">

<resultMap type="co.yedam.cafein.viewvo.ViewStockCheckVO" id="reciMap">
      <id column="RECIPENO" property="recipeNo"></id>
      <result column="S_ID" property="sId"/>
      <result column="CONSUM" property="consum"/>
      <result column="M_NUM" property="mNum"/>
      <result column="ST_NUM" property="stNum"/>
      <result column="ST_NAME" property="stName"/>
      <result column="ST_AQTY" property="stAqty"/>
      <result column="STAN_UNIT" property="stanUnit"/>
   </resultMap>
      
<resultMap type="co.yedam.cafein.vo.StockVO" id="recistockMap">
      <id column="ST_NUM" property="stNum"></id>
      <result column="S_ID" property="sId"/>
      <result column="ST_NAME" property="stName"/>
     
   </resultMap>      



<select id="getRecipeList" resultMap="reciMap" parameterType="co.yedam.cafein.viewvo.ViewStockCheckVO">
		select
			RECIPENO,
			S_ID,
			CONSUM,
			M_NUM,
			ST_NUM,
			ST_NAME,
			ST_AQTY,
			STAN_UNIT
		from stock_check_view
		where s_id=#{sId} and m_num=#{mNum}
	</select>
	
	<select id="getRecipeStockList"  resultMap="recistockMap"  parameterType="co.yedam.cafein.vo.StockVO">
	
		select ST_NUM 
				,S_ID 
				,ST_NAME 
			from stock
			where s_id=#{sId}
	</select>

	<insert id="insertRecipe" parameterType="co.yedam.cafein.vo.RecipeVO">
	INSERT INTO RECIPE (RECIPENO
						, S_ID
						, CONSUM
						, ST_NUM
						, M_NUM)
			 	
			 	VALUES ( 'RE'||lpad(MENU_SEQ.nextval,3,0)
			 			, #{sId}
			 			, #{consum}
			 			, #{stNum}
			 			, #{mNum}
			 		)
	
	</insert>
	
	
	<delete id="deleteRecipe" parameterType="co.yedam.cafein.vo.RecipeVO">
	DELETE FROM RECIPE WHERE RECIPENO = #{recipeno};
	
	</delete>
	

</mapper>