<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RecipeDAO">

<resultMap type="co.yedam.cafein.viewvo.ViewStockCheckVO" id="reciMap">
      <id column="RECIPENO" property="recipeNo"></id>
      <result column="S_ID" property="sId"/>
      <result column="CONSUM" property="consum"/>
      <result column="M_NUM" property="mNum"/>
      <result column="CA_NUM" property="caNum"/>
      <result column="OP_NAME" property="opName"/>
      <result column="OP_PRICE" property="opPrice"/>
      <result column="ST_NUM" property="stNum"/>
      <result column="ST_NAME" property="stName"/>
      <result column="ST_AQTY" property="stAqty"/>
      <result column="STAN_UNIT" property="stanUnit"/>
      <result column="ST_UNIT" property="stUnit"/>
      <result column="ST_PRICE" property="stPrice"/>
      <result column="TURN_NO" property="turnNo"/>
      <result column="RECIPE_DETAIL" property="recipeDetail"/>
   </resultMap>
      
	<resultMap type="stock" id="recistockMap">
      <id column="ST_NUM" property="stNum"></id>
      <result column="S_ID" property="sId"/>
      <result column="ST_NAME" property="stName"/>
      <result column="CA_NUM" property="caNum"/>
   </resultMap>      

	<resultMap type="recipe" id="reciDetailMap">
      <id column="RECIPENO" property="recipeno"></id>
      <result column="S_ID" property="sId"/>
      <result column="CONSUM" property="consum"/>
	  <result column="ST_NUM" property="stNum"/>
      <result column="M_NUM" property="mNum"/>
      <result column="CA_NUM" property="caNum"/>
      <result column="OP_NAME" property="opName"/>
      <result column="OP_PRICE" property="opPrice"/>
      <result column="TURN_NO" property="turnNo"/>
      <result column="RECIPE_DETAIL" property="recipeDetail"/>
   </resultMap>

 
     <select id="getOptionName" resultMap="reciDetailMap" parameterType="recipe">
     
     select S_ID
     		, ST_NUM
     		, M_NUM
     		, CA_NUM
     		, OP_NAME 
     		, RECIPENO
     		, OP_PRICE
     	from recipe where ca_num='CAOP'
     </select>
     
     

<select id="getReciDetailList" resultMap="reciDetailMap" parameterType="recipe">

			select RECIPENO
					, S_ID
					, CONSUM
					, ST_NUM
					, M_NUM
					, CA_NUM
					, OP_NAME 
					, OP_PRICE
					, TURN_NO
         			, RECIPE_DETAIL
         			
			from recipe 
			where s_id=#{sId} and m_num=#{mNum}
			order by turn_no

</select>






<select id="getRecipeList" resultMap="reciMap" parameterType="co.yedam.cafein.viewvo.ViewStockCheckVO">
		select
			S_ID
			,CONSUM
			,M_NUM
			,CA_NUM
			,OP_NAME
			,OP_PRICE
			,ST_NUM
			,ST_NAME
			,RECIPENO
			,ST_AQTY
			,STAN_UNIT
			,ST_UNIT
			,ST_PRICE
			, TURN_NO
         	, RECIPE_DETAIL
			
		from stock_check_view
		where s_id=#{sId} and m_num=#{mNum}
		order by turn_no
		
		
	</select>
	
	
	
	
	
	
	<select id="getRecipeStockList"  resultMap="recistockMap"  parameterType="stock">
	
		select ST_NUM 
				,S_ID 
				,ST_NAME
				,CA_NUM 
				,ST_PRICE "stPrice"
         		,STAN_UNIT "stanUnit"
				 ,ST_AQTY "stAqty"
				 ,ST_UNIT "stUnit"
				 
			from stock
			where s_id=#{sId}
	</select>



	<insert id="insertRecipe" parameterType="recipe">
	INSERT INTO RECIPE (  RECIPENO
						, S_ID
						, CONSUM
						, ST_NUM
						, M_NUM
						,CA_NUM
						)
			 	
			 	VALUES ( 'RE'||lpad(RECIPE_SEQ.nextval,3,0)
			 			, #{sId}
			 			, round(#{consum},4)
			 			, #{stNum}
			 			, #{mNum}
			 			, #{caNum}
			 		)
	
	</insert>
	<insert id="recipeInsertProc1" parameterType="recipe" statementType="CALLABLE">
		{			
			call RECIPE_STOCK_INSERT(
				#{caNum, mode=IN, jdbcType=VARCHAR, javaType=string},
				#{consum, mode=IN, javaType=double,jdbcType=NUMERIC,numericScale=4},
				#{mNum, mode=IN, jdbcType=VARCHAR, javaType=string},
				#{recipeDetail, mode=IN, jdbcType=VARCHAR, javaType=string},
				#{stNum, mode=IN, jdbcType=VARCHAR, javaType=string},
				#{sId, mode=IN, jdbcType=VARCHAR, javaType=string}
			)
		}
	</insert>
	
	<delete id="deleteRecipe" parameterType="recipe">
	DELETE FROM RECIPE WHERE RECIPENO = #{recipeno}
	
	</delete>
	<delete id="recipeDeleteProc1" parameterType="recipe" statementType="CALLABLE">
		{			
				call RECIPE_STOCK_DELETE(
					#{recipeno, mode=IN, jdbcType=VARCHAR, javaType=string},
					#{turnNo,  mode=IN, jdbcType=NUMERIC, javaType=java.lang.Integer},
					#{sId, mode=IN, jdbcType=VARCHAR, javaType=string}
				)

		}
	
	</delete>
	
	<update id="stockAqtyUpdate" parameterType="stock">
	
		UPDATE STOCK SET ST_AQTY = round(#{stAqty},4) 
						WHERE ST_NUM=#{stNum}
	</update>
	
	<update id = "recipeUpdateProc1" parameterType="recipe" statementType="CALLABLE">
			{			
				call RECIEPE_STOCK_UPDATE(
					#{consum, mode=IN, javaType=double,jdbcType=NUMERIC,numericScale=4},
					#{caNum, mode=IN, jdbcType=VARCHAR, javaType=string},
					#{turnNo,  mode=IN, jdbcType=NUMERIC, javaType=java.lang.Integer},
					#{recipeDetail, mode=IN, jdbcType=VARCHAR, javaType=string},
					#{stNum, mode=IN, jdbcType=VARCHAR, javaType=string},					
					#{recipeno, mode=IN, jdbcType=VARCHAR, javaType=string}
				)
			}	
	</update>
	
	
	<!-- option CRUD -->
	<insert id="insertOption" parameterType="recipe">
	
		INSERT INTO RECIPE (RECIPENO
							, S_ID
							, CONSUM
							, ST_NUM
							, M_NUM
							, CA_NUM
							, OP_NAME
							, OP_PRICE) 
					
					VALUES ( 'RE'||lpad(RECIPE_SEQ.nextval,3,0)
							, #{sId}
							, round(#{consum},4)
							, #{stNum}
							, #{mNum}
							, #{caNum}
							, #{opName}
							, #{opPrice}
						)
	
	
	</insert>
	<delete id="deleteOption" parameterType="recipe">
		DELETE FROM RECIPE WHERE RECIPENO = #{recipeno}
	
	</delete>
		
	<select id="getorderrecipeno" resultType="recipe">
		SELECT RECIPENO
				, ST_NUM
				, CA_NUM
				, OP_NAME
				, OP_PRICE
		FROM RECIPE
		WHERE M_NUM =#{mNum}
				AND CA_NUM = 'CAOP'
<!-- 		     	AND ST_NUM IN 
		     	<foreach collection="cuoptionlist" open="(" close=")" separator=","
		     				item="item">
		     		#{item}		     	
		     	</foreach> -->

	</select>
	
	<delete id="deleteStockWith" parameterType="recipe">
	DELETE FROM RECIPE WHERE ST_NUM = #{stNum}
	</delete>

</mapper>