<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RecipeDAO">

<resultMap type="co.yedam.cafein.viewvo.ViewStockCheckVO" id="reciMap">
      <id column="RECIPENO" property="recipeNo"></id>
      <result column="S_ID" property="sId"/>
      <result column="CONSUM" property="consum"/>
      <result column="M_NUM" property="mNum"/>
      <result column="CA_NUM" property="caNum"/>
      <result column="OP_NAME" property="opName"/>
      <result column="OP_PRICE" property="opPrice"/>
      <result column="ST_NUM" property="stNum"/>
      <result column="ST_NAME" property="stName"/>
      <result column="ST_AQTY" property="stAqty"/>
      <result column="STAN_UNIT" property="stanUnit"/>
   </resultMap>
      
	<resultMap type="stock" id="recistockMap">
      <id column="ST_NUM" property="stNum"></id>
      <result column="S_ID" property="sId"/>
      <result column="ST_NAME" property="stName"/>
      <result column="CA_NUM" property="caNum"/>
   </resultMap>      

	<resultMap type="recipe" id="reciDetailMap">
      <id column="RECIPENO" property="recipeno"></id>
      <result column="S_ID" property="sId"/>
      <result column="CONSUM" property="consum"/>
	  <result column="ST_NUM" property="stNum"/>
      <result column="M_NUM" property="mNum"/>
      <result column="CA_NUM" property="caNum"/>
      <result column="OP_NAME" property="opName"/>
      <result column="OP_PRICE" property="opPrice"/>
   </resultMap>

 
     

<select id="getReciDetailList" resultMap="reciDetailMap" parameterType="recipe">

			select RECIPENO
					, S_ID
					, CONSUM
					, ST_NUM
					, M_NUM
					, CA_NUM
					, OP_NAME 
		
			from recipe 
			where s_id=#{sId} and CA_NUM= #{caNum} and m_num=#{mNum}

</select>






<select id="getRecipeList" resultMap="reciMap" parameterType="co.yedam.cafein.viewvo.ViewStockCheckVO">
		select
			S_ID
			,CONSUM
			,M_NUM
			,CA_NUM
			,OP_NAME
			,OP_PRICE
			,ST_NUM
			,ST_NAME
			,RECIPENO
			,ST_AQTY
			,STAN_UNIT
		from stock_check_view
		where s_id=#{sId} and m_num=#{mNum}
		
		
	</select>
	
	
	
	
	
	
	<select id="getRecipeStockList"  resultMap="recistockMap"  parameterType="stock">
	
		select ST_NUM 
				,S_ID 
				,ST_NAME
				,CA_NUM 
				 ,ST_AQTY*1000 "stAqty"
			from stock
			where s_id=#{sId}
	</select>



	<insert id="insertRecipe" parameterType="recipe">
	INSERT INTO RECIPE (  RECIPENO
						, S_ID
						, CONSUM
						, ST_NUM
						, M_NUM
						,CA_NUM
						)
			 	
			 	VALUES ( 'RE'||lpad(RECIPE_SEQ.nextval,3,0)
			 			, #{sId}
			 			, #{consum}/1000
			 			, #{stNum}
			 			, #{mNum}
			 			, #{caNum}
			 		)
	
	</insert>
	
	
	<delete id="deleteRecipe" parameterType="recipe">
	DELETE FROM RECIPE WHERE RECIPENO = #{recipeno}
	
	</delete>
	
	
	
	
	
	
	<!-- option CRUD -->
	<insert id="insertOption" parameterType="recipe">
	
		INSERT INTO RECIPE (RECIPENO
							, S_ID
							, CONSUM
							, ST_NUM
							, M_NUM
							, CA_NUM
							, OP_NAME
							, OP_PRICE) 
					
					VALUES ( 'ME'||lpad(RECIPE_SEQ.nextval,3,0)
							, #{sId}
							, #{consum}/1000
							, #{stNum}
							, #{mNum}
							, #{caNum}
							, #{opName}
							, #{opPrice}
						)
	
	
	</insert>
	<delete id="deleteOption" parameterType="recipe">
		DELETE FROM RECIPE WHERE RECIPENO = #{recipeno}
	
	</delete>
		
	
	

</mapper>