<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerlistDAO">


	<select id="getCustomerList" resultType="customer">
		SELECT 
			c.c_id,
			c.c_name, 
		FROM 
			customer 
	</select>
	
	<select id="getCustomer" resultType="customer">
	SELECT
		c_id,
		c_nick,
		c_name,
		c_tel,
		c_add,
		c_join
		r.MILEAGE
	FROM customer
		c LEFT OUTER JOIN reserve r
		ON (c.c_id = r.c_id)
		WHERE r.s_id = #{sId}
	</select>
	
	<select id="getCustomerhistory" resultType="customer">
	SELECT DISTINCT c_name, o_num
	FROM customer c JOIN orders o
	ON o.C_ID = c.C_ID   
	WHERE c.c_id = #{cId};
	
	
	
	</select>
	
	












</mapper>