<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerlistDAO">


	<select id="getCustomerList" resultType="customer">
		SELECT DISTINCT O.C_ID, C.C_NAME
		FROM ORDERS O JOIN CUSTOMER C
		ON O.C_ID = C.C_ID
		WHERE S_ID= #{sId}
	</select>
	
	<select id="getCustomer" resultType="customer">
	SELECT
		c.c_id,
		c.c_nick,
		c.c_name,
		c.c_tel,
		c.c_add,
		c.c_join,
		r.MILEAGE
	FROM customer
		c left OUTER JOIN reserve r
		ON (c.c_id = r.c_id and  r.s_id = #{sId})
		where c.c_id = #{cId}
	</select>
	
	<select id="getCustomerhistory" resultType="customer">
	SELECT 
   		o.c_id, o.o_num,
  		CASE WHEN od.ca_num='CAOP' OR od.ca_num='CAIC' OR od.ca_num='CAHT' THEN
			 '↳'||r.OP_NAME ELSE m.m_name END m_name , 
 		CASE WHEN od.ca_num='CAOP' OR od.ca_num='CAIC' OR od.ca_num='CAHT' THEN
			r.op_price else m.m_price end total,
  		o.pay_method, o.receipt
  	 FROM
   ORDERS o JOIN order_details od ON od.o_num = o.o_num
   JOIN MENU m on od.M_NUM = m.M_NUM
   JOIN recipe r on od.RECIPENO = r.RECIPENO
   WHERE o.c_id = #{cId} 
  AND o.S_ID= #{sId}
  AND o.O_DATE > ADD_MONTHS(TRUNC(sysdate), -1)
  ORDER by  o.O_NUM, od.O_DNUM
	</select>
	
	


 









</mapper>