<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="getStoreOrderListDAO">

	<select id="getstoreorderlisttotal" resultType="int">
	
		SELECT COUNT(*)
		FROM ORDERS
		WHERE S_ID=#{sId}
		
		<if test="startDate != null and endDate != null ">
			AND TO_CHAR(O_DATE,'YYYY-MM-DD') BETWEEN '${startDate}' AND '${endDate}'
		</if>
		<if test="startDate == null and endDate ==null">
			AND TO_CHAR(O_DATE,'YYYY/MM/DD') BETWEEN TO_CHAR(SYSTIMESTAMP-1,'YYYY/MM/DD') AND TO_CHAR(SYSTIMESTAMP,'YYYY/MM/DD')
		</if>
		<if test="nocancelview != null">
			AND DELIVERY_STATUS != 'C4'
		</if>
	
	</select>
	
	<select id="getstoreordernotviewcount" resultType="int">
		SELECT COUNT(*)
		FROM ORDERS
		WHERE DELIVERY_STATUS = 'C0'
	
	</select>

	<select id="getstoreorderlist" parameterType="order"  resultType="order">
	SELECT B.* FROM ( SELECT A.*, ROWNUM RN FROM (
		SELECT DISTINCT
					  O.O_DATE
					, O.O_NUM
					, M.M_NUM 
					, M.M_NAME 
					, ORD.OP_DNUM
					, O.TOTAL
					, O.RECEIPT
					, O.PAY_METHOD
					, O.C_ADD
					, O.C_ADD3
					, O.DELIVERY_STATUS 
		FROM ORDERS O LEFT OUTER JOIN ORDER_DETAILS ORD
		ON O.O_NUM = ORD.O_NUM
		JOIN MENU M
		ON ORD.M_NUM = M.M_NUM 
		WHERE O.S_ID=#{sId}
				AND ORD.CA_NUM NOT IN ('CAOP')
				<if test="startDate != null and endDate != null ">
					AND TO_CHAR(O.O_DATE,'YYYY-MM-DD') BETWEEN '${startDate}' AND '${endDate}'
				</if>
				<if test="startDate == null and endDate ==null">
					AND TO_CHAR(O.O_DATE,'YYYY/MM/DD') BETWEEN TO_CHAR(SYSTIMESTAMP-1,'YYYY/MM/DD') AND TO_CHAR(SYSTIMESTAMP,'YYYY/MM/DD')
				</if>
				<if test="nocancelview != null">
					AND O.DELIVERY_STATUS != 'C4'
				</if>
				
		ORDER BY O.O_NUM DESC 
<![CDATA[ 
	 ) A )B WHERE RN >= #{start} and RN <= #{end}
]]>
	</select>
	
	<select id="getstoreorderdetails" resultType="orderdt">
	
		SELECT QTY.QTY	"oQty" 
				, ORD.O_NUM		"oNum"
				, ORD.M_NUM		"mNum"
				, R.OP_NAME		"opName"
		FROM ORDER_DETAILS ORD JOIN RECIPE R
		ON ORD.RECIPENO = R.RECIPENO
		JOIN (
		    SELECT M_NUM,MAX(O_QTY) "QTY"
		  FROM ORDER_DETAILS
		  WHERE O_NUM = #{oNum}
		        AND M_NUM = #{mNum}
		        AND OP_DNUM = #{opDnum}
		  GROUP BY M_NUM
		)QTY
		on QTY.M_NUM = ORD.M_NUM
		WHERE ORD.O_NUM = #{oNum}
		     AND ORD.M_NUM = #{mNum}
		     AND OP_DNUM = #{opDnum}
		    AND ORD.CA_NUM IN ('CAIC','CAHT','CADR','CADE','CAJP')
    

	</select>
	
	
	<select id="getmenuoptionlist" resultType="orderdt">
	 
		SELECT DNUM.OP_DNUM "O_DNUM"
			      , O.O_NUM
			      , ORD.M_NUM
			      , M.M_NAME 
			      , ORD.OP_DNUM 
			      , ORD.O_QTY 
			      , ORD.RECIPENO
			      , RE.OP_NAME
		FROM ORDERS O JOIN ORDER_DETAILS ORD
		ON O.O_NUM = ORD.O_NUM
		JOIN RECIPE RE
		ON ORD.RECIPENO = RE.RECIPENO
		JOIN (
		  SELECT DISTINCT
                 O_NUM
                , M_NUM
                , CASE WHEN O_DNUM = OP_DNUM THEN OP_DNUM 
                    ELSE OP_DNUM
                END "OP_DNUM"
				  FROM ORDER_DETAILS
		) DNUM
		ON DNUM.M_NUM =  ORD.M_NUM AND DNUM.O_NUM = ORD.O_NUM AND DNUM.OP_DNUM = ORD.OP_DNUM
		JOIN MENU M
    	ON ORD.M_NUM = M.M_NUM
		WHERE O.S_ID=#{sId}
		    AND ORD.O_NUM = #{oNum}
		    AND ORD.CA_NUM IN ('CAOP','CAIC','CAHT')
		ORDER BY DNUM.OP_DNUM,RE.OP_NAME
 

	</select>
	
	<select id="getmenunumber" resultType="orderdt">

		SELECT MAX(O_QTY) "oQty"
		FROM ORDER_DETAILS
		WHERE O_NUM =#{mNum}
		      AND M_NUM =#{mNum}
		GROUP BY M_NUM
	
	</select>


	<update id="updateordercancel">

		UPDATE ORDERS
		SET REFUSE_REASON = #{refuseReason} 
			, DELIVERY_STATUS = 'C4'
		WHERE O_NUM = #{oNum}	
	</update>
	
	<update id="updateordermileage">
		<selectKey keyProperty="addcanclemileage,addmileage,sId,cId" resultType="order" order="BEFORE">
			SELECT (TOTAL*0.01*-1) as addcanclemileage
					, MILEAGE as addmileage
					, S_ID as sId
					, C_ID as cId
			FROM ORDERS
			WHERE O_NUM = #{oNum}
		</selectKey>
			UPDATE RESERVE SET MILEAGE = MILEAGE + #{addmileage} + #{addcanclemileage}
			WHERE S_ID= #{sId} 
				AND C_ID=#{cId}
	</update>
	
	
	<update id="updateorderapply">
		UPDATE ORDERS
			SET DE_APPLY_TIME= systimestamp
			    , TAKE_TIME = #{takeTime}
			     , DELIVERY_STATUS='C1'
			WHERE O_NUM= #{oNum}
	</update>
	
	
	<select id="getdeliverytatuscheck" resultType="order">
	
		SELECT O_NUM
		FROM ORDERS
		WHERE TAKE_TIME IS NOT NULL
		    AND DELIVERY_STATUS = 'C1'
		    AND TO_CHAR(SYSDATE,'HH24:MI') > TO_CHAR(DE_APPLY_TIME+(TAKE_TIME/24/60),'HH24:MI')
			
	</select>
	
	<update id="updatedeliverystatus">
		
			UPDATE ORDERS
			SET DELIVERY_STATUS = 'C3'
			WHERE O_NUM = #{oNum}

	</update>
	
	<select id="schedulerordertimecheck" statementType="CALLABLE">
				{
						call ORDER_CANCEL_PRO()
				}
	</select>
	
	
	<select id="stockupdate" statementType="CALLABLE">
				{
						call SET_STOCK_CONSUM()
				}
	</select>
	
	
</mapper>