<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeMainDAO">

	<!-- 판매율 top3 메뉴 조회 -->
	<select id="getSalesRank" resultType="order">
		SELECT *
		FROM (
		        SELECT M.M_NAME
		             , SUM(OD.O_QTY) "cnt"
		             , RANK() OVER (ORDER BY SUM(OD.O_QTY) DESC) "rank"
		        FROM ORDER_DETAILS OD JOIN ORDERS O
		        ON O.O_NUM = OD.O_NUM
		        JOIN MENU M
		        ON OD.M_NUM = M.M_NUM
		        WHERE O.S_ID = #{sId}
		        AND O.DELIVERY_STATUS IN ('C3','C5')
		        AND OD.CA_NUM IN ('CACO','CADR','CADE')
		        AND O.O_DATE > ADD_MONTHS(TRUNC(SYSDATE), -1)
		        GROUP BY M.M_NUM, M.M_NAME
		) MENURANK
		WHERE MENURANK."rank" <![CDATA[ < ]]> 4
	</select>

</mapper>