<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SumSalesDAO">

	<!-- <resultMap type="menu" id="menu"> <result column="M_NUM" property="mNum"/> 
		<result column="M_NAME" property="mName"/> <result column="M_PRICE" property="mPrice"/> 
		</resultMap> <resultMap type="order" id="order"> <result column="O_NUM" property="oNum"/> 
		<result column="O_DATE" property="oDate"/> <result column="TOTAL" property="total"/> 
		</resultMap> <resultMap type="orderdt" id="orderdt"> <result column="O_DNUM" 
		property="oDnum"/> <result column="O_QTY" property="oQty"/> <collection property="mNum" 
		resultMap="menu.mNum"/> <collection property="oNum" resultMap="order.oNum"/> 
		</resultMap> -->

	<!-- <resultMap type="salessum" id="resultsalessum"> <result column="WEEK" 
		property="week"/> <result column="S_ID" property="sId"/> <result column="DATES" 
		property="dates"/> </resultMap> -->

	<!-- 일별 통계 쿼리 -->
	<select id="getDaySales" resultType="salessum">
		SELECT
		A.WEEK,
		NVL(B.TOTALQTY, 0) CNT,
		NVL(B.TOTALS, 0) ATOTAL
		FROM
		(
		SELECT
		LEVEL WEEK,
		0 DAY
		FROM
		DUAL
		CONNECT BY 		<!-- 부등호 기호 들어가면 CDATA로 감싸주어야됨. -->
			 <![CDATA[ 
			LEVEL <= 7
			]]>
		) A,
		(
		SELECT
		WEEK,
		SUM(O_QTY) TOTALQTY,
		SUM(TOTAL) TOTALS
		FROM
		(
		SELECT
		O.S_ID,
		O.O_DATE,
		OD.O_QTY,
		<!-- week = D일때는 일별 M일때 월별 Y는 사용 X -->
		<choose>
			<when test='week == "D" '>
				TO_CHAR(O_DATE, 'D') WEEK,
			</when>
			<when test='week == "M" '>
				TO_CHAR(O_DATE, 'MM') WEEK,
			</when>
			<when test='week == "Y" '>
				TO_CHAR(O_DATE, 'YYYY') WEEK,
			</when>
			<otherwise>
				TO_CHAR(O_DATE, 'YY') WEEK,
			</otherwise>
		</choose>
		O.TOTAL
		FROM
		ORDER_DETAILS OD,
		MENU M,
		ORDERS O
		WHERE
		OD.O_NUM = O.O_NUM
		AND OD.M_NUM = M.M_NUM
		AND O.S_ID = #{sId} <!-- sid 의 Keyword 값   -->
		<choose>
			<when test='week == "D" '>
				AND TO_CHAR(O_DATE, 'YYMMW') = #{dates} <!--  dates Keyword 값   -->
			</when>
			<when test='week == "M" '>
				AND TO_CHAR(O_DATE, 'YYMM') = #{dates}
			</when>
			<when test='week == "Y" '>
				AND TO_CHAR(O_DATE, 'YY') = #{dates}
			</when>
			<otherwise>
				AND TO_CHAR(O_DATE, 'YYMMW') = #{dates}
			</otherwise>
		</choose>
		)
		GROUP BY
		WEEK
		) B
		WHERE
		A.WEEK = B.WEEK(+)
		ORDER BY
		A.WEEK
	</select>
	<!-- 월별 매출 통계 쿼리. -->
	<select id="getMonthSales" resultType="salessum">
		SELECT
		A.WEEK,
		NVL(B.TOTALQTY, 0) CNT,
		NVL(B.TOTALS, 0) ATOTAL
		FROM
		(
		SELECT
		LEVEL WEEK,
		0 DAY
		FROM
		DUAL
		CONNECT BY
		<!-- 부등호 기호 들어가면 CDATA로 감싸주어야됨.  connect by level 로 컬럼 12개까지 설정.-->
			 <![CDATA[ 
			LEVEL <= 12
			]]>
		) A,
		(
		SELECT
		WEEK,
		SUM(O_QTY) TOTALQTY,
		SUM(TOTAL) TOTALS
		FROM
		(
		SELECT
		O.S_ID,
		O.O_DATE,
		OD.O_QTY,

		<choose>
			<when test='week == "D" '>
				TO_CHAR(O_DATE, 'D') WEEK,
			</when>
			<when test='week == "M" '>
				TO_CHAR(O_DATE, 'MM') WEEK,
			</when>
			<when test='week == "Y" '>
				TO_CHAR(O_DATE, 'YYYY') WEEK,
			</when>
			<otherwise>
				TO_CHAR(O_DATE, 'YY') WEEK,
			</otherwise>
		</choose>
		O.TOTAL
		FROM
		ORDER_DETAILS OD,
		MENU M,
		ORDERS O
		WHERE
		OD.O_NUM = O.O_NUM
		AND OD.M_NUM = M.M_NUM
		AND O.S_ID = #{sId}
		<choose>
			<when test='week == "D" '>
				AND TO_CHAR(O_DATE, 'YYMMW') = #{dates}
			</when>
			<when test='week == "M" '>
				AND TO_CHAR(O_DATE, 'YY') = #{dates}
			</when>
			<when test='week == "Y" '>
				AND TO_CHAR(O_DATE, 'Y') = #{dates}
			</when>
			<otherwise>
				AND TO_CHAR(O_DATE, 'YYMMW') = #{dates}
			</otherwise>
		</choose>
		)
		GROUP BY
		WEEK
		) B
		WHERE
		A.WEEK = B.WEEK(+)
		ORDER BY
		A.WEEK
	</select>
	<!-- 연별 매출 통계 쿼리. -->
	<select id="getYearSales" resultType="salessum">
		SELECT WEEK
		, SUM(O_QTY) CNT
		, SUM(TOTAL) ATOTAL
		FROM (SELECT S_ID
		,O_DATE
		, O_QTY
		, TO_CHAR(O_DATE, 'YYYY') WEEK
		, TOTAL
		FROM ORDERS O JOIN ORDER_DETAILS OD
		ON O.O_NUM = OD.O_NUM
		)
		WHERE S_ID = #{sId}
		GROUP BY WEEK
	</select>
	<!-- 메뉴별 통계 쿼리  -->
	<select id="getMenuSales" resultType="salessum">
		SELECT M.M_NAME,
			 SUM(O_QTY) CNT, 
			 SUM(M_PRICE*O_QTY) ATOTAL
		FROM MENU M JOIN ORDER_DETAILS OD
			ON M.M_NUM = OD.M_NUM JOIN ORDERS O
			ON O.O_NUM = OD.O_NUM
		WHERE M.S_ID = #{sId}
		GROUP BY M.M_NAME
	</select>
	<select id="getTimeSales" resultType="salessum"> 
	SELECT DECODE(GROUPING(CD.TM1)
		,1,'합계',CD.TM1||'~'||CD.TM2) WEEK
		, SUM(AB.OTY) CNT
		, SUM(AB.TOT) ATOTAL
	FROM
		(
	SELECT TO_CHAR(O_DATE, 'HH24') TM
		, SUM(O_QTY) OTY
		, SUM(TOTAL) TOT
	FROM ORDERS O JOIN ORDER_DETAILS OD
			ON O.O_NUM = OD.O_NUM JOIN MENU M
			ON M.M_NUM = OD.M_NUM
	WHERE <!--  TO_DATE 형식으로 년도 요일 시 분 초 -->
		 <![CDATA[ 
		 O_DATE >= TO_DATE('20190703 100000','YYYYMMDDHH24MISS')
		]]>
		AND
		<![CDATA[
		 O_DATE <= TO_DATE('20190703 225959','YYYYMMDDHH24MISS')
		]]>
		AND 	
		M.S_ID = #{sId}
	GROUP BY TO_CHAR(O_DATE, 'HH24')
	) AB
	,
	(
	SELECT  <!-- LPAD를 이용하여 ex) 10 ~ 11... 로 나누는 과정 -->
		  LPAD(LEVEL + 8, 2, '1') TM1
		, LPAD(LEVEL + 9, 2, '1') TM2
	FROM 
		DUAL  <!--  13개 의 컬럼까지 만듦. -->
		<![CDATA[
		CONNECT BY LEVEL <= 13
		]]>
		) CD
	WHERE 
		CD.TM1 = AB.TM(+)
	GROUP BY ROLLUP((CD.TM1, CD.TM2))
	ORDER BY CD.TM1
	</select>
</mapper>