<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SumSalesDAO">

	<!-- <resultMap type="menu" id="menu"> <result column="M_NUM" property="mNum"/> 
		<result column="M_NAME" property="mName"/> <result column="M_PRICE" property="mPrice"/> 
		</resultMap> <resultMap type="order" id="order"> <result column="O_NUM" property="oNum"/> 
		<result column="O_DATE" property="oDate"/> <result column="TOTAL" property="total"/> 
		</resultMap> <resultMap type="orderdt" id="orderdt"> <result column="O_DNUM" 
		property="oDnum"/> <result column="O_QTY" property="oQty"/> <collection property="mNum" 
		resultMap="menu.mNum"/> <collection property="oNum" resultMap="order.oNum"/> 
		</resultMap> -->

	<!-- <resultMap type="salessum" id="resultsalessum"> <result column="WEEK" 
		property="week"/> <result column="S_ID" property="sId"/> <result column="DATES" 
		property="dates"/> </resultMap> -->

	<!-- 일별 통계 쿼리 -->
	<select id="getDaySales" resultType="salessum">
		SELECT A.WEEK,
			 NVL(B.TOTALQTY, 0) CNT, 
			 NVL(B.TOTALS, 0) ATOTAL
		FROM (
				SELECT LEVEL WEEK,
					   0 DAY
				FROM DUAL
				CONNECT BY LEVEL <![CDATA[ <= ]]> 7 ) A,
				( SELECT WEEK, SUM(O_QTY) TOTALQTY, SUM(TOTAL) TOTALS
				FROM 
					(
					SELECT DISTINCT O.S_ID,
							 O.O_DATE, 
							 TO_CHAR(O_DATE, 'D') WEEK, 
							 OD.O_QTY,
							 O.TOTAL, 
							 OD.OP_DNUM, 
							 OD.M_NUM
					FROM ORDER_DETAILS OD, 
						MENU M, 
						ORDERS O				
				<where>
						OD.O_NUM = O.O_NUM
						AND OD.M_NUM = M.M_NUM
						AND O.S_ID = #{sId}
						AND O.DELIVERY_STATUS NOT IN ('C4','C0','C6')
						AND OD.CA_NUM NOT IN ('CAOP','CAHT','CAIC')
						AND
				 	<choose>
					<when test="startDate != null and startDate !='' "> 				
						O_DATE BETWEEN TRUNC(TO_DATE(#{startDate},'YYYY-MM-DD')+1)-TO_CHAR(TO_DATE(#{startDate},'YYYY-MM-DD'),'D')
						AND 
						TRUNC(TO_DATE(#{startDate},'YYYY-MM-DD')+1)-TO_CHAR(TO_DATE(#{startDate},'YYYY-MM-DD'),'D') + 7 )
					</when>
					<otherwise>
						O_DATE BETWEEN TRUNC(SYSDATE+1)-TO_CHAR(SYSDATE,'D')
						AND 
						TRUNC(SYSDATE+1)-TO_CHAR(SYSDATE,'D') + 7 )
					</otherwise>
					</choose>	
				</where>	          
		GROUP BY WEEK ) B
		WHERE A.WEEK = B.WEEK(+)
		ORDER BY A.WEEK
	</select>
	<!-- 월별 매출 통계 쿼리. -->
	<select id="getMonthSales" resultType="salessum">
		SELECT A.WEEK,
			 NVL(B.TOTALQTY, 0) CNT, 
			 NVL(B.TOTALS, 0) ATOTAL
		FROM (
				SELECT LEVEL WEEK, 0 DAY
				FROM DUAL
				CONNECT BY LEVEL<![CDATA[ <= ]]> 12 ) A,
				( SELECT WEEK, SUM(O_QTY) TOTALQTY, SUM(TOTAL) TOTALS
				FROM 
					(
					SELECT DISTINCT O.S_ID,
							 O.O_DATE, 
							 TO_CHAR(O_DATE, 'MM') WEEK, 
							 OD.O_QTY,
							 O.TOTAL, 
							 OD.OP_DNUM, 
							 OD.M_NUM
					FROM ORDER_DETAILS OD, 
						MENU M, 
						ORDERS O		
           			 <where>
           				OD.O_NUM = O.O_NUM
						AND OD.M_NUM = M.M_NUM
						AND O.S_ID = #{sId}
						AND O.DELIVERY_STATUS NOT IN ('C4','C0','C6')
						AND OD.CA_NUM NOT IN ('CAOP','CAHT','CAIC')
           			 	<choose>
           			 		<when test="startDate != null and startDate != '' ">
           			 		AND TO_CHAR(O_DATE, 'YYYY') = TO_CHAR(TO_DATE(#{startDate}),'YYYY')  )
           			 		</when>
           			 		<otherwise> 		                  		
           			 		AND TO_CHAR(O_DATE, 'YYYY') = TO_CHAR(SYSDATE,'YYYY')   )         			 		
           			 		</otherwise>
           			 	</choose>       			 		
           			 </where>
		GROUP BY WEEK ) B
		WHERE A.WEEK = B.WEEK(+)

     ORDER BY A.WEEK
		
	</select>
	<!-- 연별 매출 통계 쿼리. -->
	<select id="getYearSales" resultType="salessum">
	SELECT WEEK ,
			  SUM(O_QTY) CNT ,
			  SUM(TOTAL) ATOTAL
		FROM 
			(SELECT DISTINCT OD.OP_DNUM,
			 		S_ID ,
			 		O_DATE, 
			 		O_QTY, 
			 		TO_CHAR(O_DATE,'YYYY') WEEK, 
			 		TOTAL
			FROM 
				ORDERS O JOIN ORDER_DETAILS OD
				ON O.O_NUM = OD.O_NUM
			WHERE
			O.DELIVERY_STATUS NOT IN ('C4','C0','C6')
			AND OD.CA_NUM NOT IN ('CAOP','CAHT','CAIC')
			)
		WHERE S_ID = #{sId}
		GROUP BY WEEK
	</select>
	<!-- 메뉴별 통계 쿼리  -->
	<select id="getMenuSales" resultType="salessum">
			SELECT AB.M_NAME,
			SUM(AB.O_QTY) CNT,
			SUM(AB.M_PRICE*AB.O_QTY) ATOTAL
			FROM
			(
			SELECT DISTINCT OD.OP_DNUM ,O.S_ID, OD.O_QTY, O.TOTAL ,OD.OP_DNUM , OD.M_NUM
			, M.M_NAME, M.M_PRICE
			FROM MENU M JOIN ORDER_DETAILS OD
			ON M.M_NUM = OD.M_NUM JOIN ORDERS O
			ON O.O_NUM = OD.O_NUM
			WHERE M.S_ID = #{sId}
			AND O.DELIVERY_STATUS NOT IN ('C4','C0','C6')
			AND OD.CA_NUM NOT IN ('CAOP','CAHT','CAIC')
			) AB
			GROUP BY AB.M_NAME
			ORDER BY CNT DESC
	</select>
	
	<!-- 시간별 통계 -->
	<select id="getTimeSales" resultType="salessum"> 
		SELECT
			 DECODE(GROUPING(CD.TM1),1,'토탈',CD.TM1||'~'||CD.TM2) WEEK
			, NVL(SUM(AB.CNT),0) CNT
			, NVL(SUM(AB.TOTAL),0) ATOTAL
			FROM
   		(
        SELECT 
           TO_CHAR(KIN.O_DATE ,'HH24') TM
          , SUM(KIN.O_QTY) CNT 
          , SUM(KIN.TOTAL) TOTAL
          FROM (
                    select DISTINCT O.O_NUM
                              , O.O_DATE
                              , O.TOTAL
                              ,OD.OP_DNUM
                              ,OD.M_NUM
                              ,OD.O_QTY
                    FROM ORDERS O JOIN ORDER_DETAILS OD
                          ON O.O_NUM = OD.O_NUM JOIN MENU M
                          ON M.M_NUM = OD.M_NUM
			<where>
			 	<choose>
				<when test="startDate != null and startDate !='' "> 
					O_DATE <![CDATA[ >= ]]> TO_DATE(#{startDate},'YYYY-MM-DD')+1/(24*60)/60		
					AND 
					O_DATE <![CDATA[ <= ]]> TO_DATE(#{startDate},'YYYY-MM-DD')+(23/24)+(59/(24*60))+(59/(24*60)/60)	
				</when>
				<otherwise>
					O_DATE 	<![CDATA[ >= ]]> TRUNC(SYSDATE)+1/(24*60)/60
					AND 
					O_DATE <![CDATA[ <= ]]> TRUNC(SYSDATE)+(23/24)+(59/(24*60))+(59/(24*60)/60)
				</otherwise>
				</choose>
					 AND
					 M.S_ID = #{sId}
					 AND O.DELIVERY_STATUS  NOT IN ('C4','C0','C6')
                     AND OD.CA_NUM NOT IN ('CAOP','CAHT','CAIC')					 	
			</where>	          
                ) KIN 
                group by  TO_CHAR(KIN.O_DATE ,'HH24')
        )AB
    	,
		(
		SELECT LPAD(LEVEL + 9, 2, '0') TM1
		, LPAD(LEVEL + 10, 2, '0') TM2
		FROM DUAL 
		CONNECT BY LEVEL  <![CDATA[<= ]]>14	 
		) CD
		WHERE CD.TM1 = AB.TM(+)
		GROUP BY ROLLUP((CD.TM1, CD.TM2))
		ORDER BY CD.TM1
	</select>
</mapper>