<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WarehousingDAO">

<!-- 	<resultMap type="warehousing" id="wareMap"> -->
<!-- 	     <id column="WARE_NUM" property="wareNum"></id> -->
<!-- 	     <result column="WARE_DATE" property="wareDate" /> -->
<!-- 	     <result column="WARE_QTY" property="wareQty" /> -->
<!-- 	     <result column="WARE_PRICE" property="warePrice" /> -->
<!-- 	     <result column="ST_NUM" property="stNum" /> -->
<!-- 	     <result column="S_ID" property="sId" /> -->
<!-- 	     <result column="ST_PAY_METHOD" property="stPayMethod" /> -->
<!-- 	     <result column="ST_LOSS" property="stLoss" /> -->
<!-- 	     </resultMap> -->
	    
	
	<select id="getEnteredList" resultType="warehousing">
		SELECT W.ST_NUM "STNUM",
	      CASE WHEN S.ST_NAME IS NULL THEN '기타 재고'
			ELSE S.ST_NAME  END "stName",
	      SUM(W.WARE_PRICE) "WAREPRICE",
	      SUM(W.WARE_QTY) "WAREQTY"
		FROM WAREHOUSING W LEFT OUTER JOIN STOCK S
		ON W.ST_NUM = S.ST_NUM
		<where>
			<if test="startDate != null and startDate !='' and endDate !=null and startDate !=''">
				 TRUNC(WARE_DATE) BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="startDate == null or startDate =='' or endDate ==null or startDate ==''">
				AND TRUNC(WARE_DATE) BETWEEN SYSDATE -7 AND SYSDATE
			</if>
			AND W.WARE_QTY <![CDATA[ > ]]> 0
			AND W.S_ID = #{sId}
		</where>
		GROUP BY w.ST_NUM, s.st_name
	</select>		
	 
	<select id="getReleasedList" resultType="warehousing">
		SELECT w.st_num "stNum",
	      CASE WHEN S.ST_NAME IS NULL THEN '기타 재고'
			ELSE S.ST_NAME  END "stName",
	      sum(w.ware_price) "warePrice",
	      sum(w.ware_qty) "wareQty"
		FROM warehousing w left outer join stock s
		ON w.st_num = s.st_num
		<where>
			<if test="startDate != null and startDate !='' and endDate !=null and startDate !=''">
				 TRUNC(WARE_DATE) BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="startDate == null or startDate =='' or endDate ==null or startDate ==''">
				AND TRUNC(WARE_DATE) BETWEEN SYSDATE -7 AND SYSDATE
			</if>
			and w.ware_qty <![CDATA[ < ]]> 0
			AND W.S_ID = #{sId}
		</where>
		GROUP BY w.ST_NUM, s.st_name
			
	</select>
	
	<select id="getWarehousingList" resultType="warehousing">
		SELECT w.st_num 	"stNum",
		    CASE WHEN S.ST_NAME IS NULL THEN '기타 재고'
			ELSE S.ST_NAME  END "stName",
		    sum(w.ware_price) "warePrice",
		    sum(w.ware_qty)	"wareQty",
		    sum(w.st_loss)	"stLoss"
		FROM warehousing w left outer join stock s
		ON w.st_num = s.st_num
		<where>
			<if test="startDate != null and startDate !='' and endDate !=null and startDate !=''">
			 AND TRUNC(WARE_DATE) BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="startDate == null or startDate =='' or endDate ==null or startDate ==''">
				AND TRUNC(WARE_DATE) BETWEEN SYSDATE -7 AND SYSDATE
			</if>
			AND W.S_ID = #{sId}
		</where>
		GROUP BY w.ST_NUM, s.st_name
	</select>
	
	<insert id="insertEnter" parameterType="warehousing">
		 INSERT INTO WAREHOUSING(
		 					WARE_NUM, 
		 					WARE_DATE, 
		 					WARE_QTY, 
		 					WARE_PRICE, 
		 					ST_NUM, 
		 					S_ID,
		 					ST_PAY_METHOD
		 					) 
					 VALUES (
							 'WH'||LPAD(WARE_SEQ.NEXTVAL,4,0) ,
							 SYSDATE,
							 #{enterQty},
							 #{warePrice},
							 #{stNum}, 
							 #{sId},
							 #{stPayMethod}
							 )
	</insert>
	
	<select id="getWarehousing" resultType="warehousing">
		SELECT W.WARE_DATE "wareDate",
			W.ST_NUM 	"stNum",
			CASE WHEN S.ST_NAME IS NULL THEN '기타 재고'
			ELSE S.ST_NAME  END "stName",
		    W.WARE_PRICE "warePrice",
		    W.WARE_QTY	"wareQty",
		    W.ST_LOSS	"stLoss"
		FROM WAREHOUSING W LEFT OUTER JOIN STOCK S
		ON W.ST_NUM = S.ST_NUM
		<where>
			<if test="startDate != null and startDate !='' and endDate !=null and startDate !=''">
				 AND TRUNC(WARE_DATE) BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="startDate == null or startDate =='' or endDate ==null or startDate ==''">
				AND TRUNC(WARE_DATE) BETWEEN SYSDATE -7 AND SYSDATE
			</if>
			AND W.WARE_QTY <![CDATA[ <> ]]> 0
			AND W.S_ID = #{sId}
			 ORDER BY W.WARE_DATE
		</where>
	</select>
</mapper> 